/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: sans-serif;
   color: #354358;
   background-image: url('/images/circuits.jpg'); 
   background-size: cover; 
   background-position: center; 
   background-repeat: no-repeat; 
   min-height: 100vh; 
}
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: sans-serif;
   color: #354358;
   background-color: red; /* Test with a background color to check if global styles are applied */
}