@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: sans-serif;
   color: #354358;
   background-color: #f3f4f6; /* Neutral fallback color */
   background-image: url('/images/circuits.jpg'); 
   background-size: cover; 
   background-position: center; 
   background-repeat: no-repeat; 
   min-height: 100vh; 
}
